In [1]:
class Person:
  pass
p = Person()
print(p)
print(Person)

<__main__.Person object at 0x11345c590>
<class '__main__.Person'>

In [2]:
class Person:
      def __init__(self, firstname='Asabeneh', lastname='Yetayeh', age=250, country='Finland', city='Helsinki'):
          self.firstname = firstname
          self.lastname = lastname
          self.age = age
          self.country = country
          self.city = city
          self.skills = []

      def person_info(self):
        return f'{self.firstname} {self.lastname}今年{self.age}岁。他住在{self.country}的{self.city}。'
      def add_skill(self, skill):
          self.skills.append(skill)

p1 = Person()
print(p1.person_info())
p1.add_skill('HTML')
p1.add_skill('CSS')
p1.add_skill('JavaScript')
p2 = Person('John', 'Doe', 30, 'Nomanland', 'Noman city')
print(p2.person_info())
print(p1.skills)
print(p2.skills)

Asabeneh Yetayeh今年250岁。他住在Finland的Helsinki。
John Doe今年30岁。他住在Nomanland的Noman city。
['HTML', 'CSS', 'JavaScript']
[]

In [4]:
class Student(Person):
    def __init__(self, firstname='Asabeneh', lastname='Yetayeh', age=250, country='Finland', city='Helsinki',
                 gender = 'male'):
        super().__init__(firstname, lastname, age, country, city)
        self.gender = gender

    def person_info(self):
        gender = '他' if self.gender == 'male' else '她'
        return f'{self.firstname} {self.lastname}今年{self.age}岁。{gender}住在{self.country}的{self.city}。'

s1 = Student('Eyob', 'Yetayeh', 30, 'Finland', 'Helsinki','male')
s2 = Student('Lidiya', 'Teklemariam', 28, 'Finland', 'Espoo','female')
print(s1.person_info())
s1.add_skill('JavaScript')
s1.add_skill('React')
s1.add_skill('Python')
print(s1.skills)
print(s2.person_info())
s2.add_skill('Organizing')
s2.add_skill('Marketing')
s2.add_skill('Digital Marketing')
print(s2.skills)

Eyob Yetayeh今年30岁。他住在Finland的Helsinki。
['JavaScript', 'React', 'Python']
Lidiya Teklemariam今年28岁。她住在Finland的Espoo。
['Organizing', 'Marketing', 'Digital Marketing']

In [8]:
ages = [31, 26, 34, 37, 27, 26, 32, 32, 26, 27, 27, 24, 32, 33, 27, 25, 26, 38, 37, 31, 34, 24, 33, 29, 26]
ages.sort()
ages

[24,
 24,
 25,
 26,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 29,
 31,
 31,
 32,
 32,
 32,
 33,
 33,
 34,
 34,
 37,
 37,
 38]

In [31]:
from collections import Counter
import math
class Statistics:
    def __init__(self, data=[]):
        self.data = data

    def count(self):
        return len(self.data)
    
    def sum(self):
        return sum(self.data)
    
    def min(self):
        return min(self.data)
    
    def max(self):
        return max(self.data)
    
    def range(self):
        return self.max() - self.min()
    
    def mean(self):
        return self.sum()/self.count()
    
    def median(self):
        self.data.sort()
        if self.count() % 2 == 1:
            return self.data[self.count()//2]
        else:
            return (self.data(self.count()//2)+self.data(self.count()//2 - 1))/2
    
    def mode(self):
        data = Counter(self.data)
        return data.most_common(1)[0][0]
    
    def standard_deviation(self):
        return math.sqrt(self.variance())
    
    def variance(self):
        mean = self.mean()
        std = 0
        for num in self.data:
            std += (num - mean)*(num-mean)
        std = std / self.count()
        return std
    
    def frequency_distribution(self):
        freq = Counter(self.data)
        total = self.count()
        freq_dist = [(freq[key]/total*100,key) for key in freq]
        return freq_dist
    
    def describe(self):
        '''# you output should look like this
        print(data.describe())
        Count: 25
        Sum:  744
        Min:  24
        Max:  38
        Range:  14
        Mean:  30
        Median:  29
        Mode:  (26, 5)
        Variance:  17.5
        Standard Deviation:  4.2
        Frequency Distribution: [(20.0, 26), (16.0, 27), (12.0, 32), (8.0, 37), (8.0, 34), (8.0, 33), (8.0, 31), (8.0, 24), (4.0, 38), (4.0, 29), (4.0, 25)]'''
        return f"Count:{self.count()}\nSum:{self.sum()}\nMin:{self.min()}..."

In [9]:
from collections import Counter

In [10]:
ages = [31, 26, 34, 37, 27, 26, 32, 32, 26, 27, 27, 24, 32, 33, 27, 25, 26, 38, 37, 31, 34, 24, 33, 29, 26]
data = Counter(ages)

In [11]:
data

Counter({26: 5,
         27: 4,
         32: 3,
         31: 2,
         34: 2,
         37: 2,
         24: 2,
         33: 2,
         25: 1,
         38: 1,
         29: 1})

In [13]:
type(data)

collections.Counter

In [14]:
data

Counter({26: 5,
         27: 4,
         32: 3,
         31: 2,
         34: 2,
         37: 2,
         24: 2,
         33: 2,
         25: 1,
         38: 1,
         29: 1})

In [17]:
data.most_common(1)

[(26, 5)]

In [18]:
data

Counter({26: 5,
         27: 4,
         32: 3,
         31: 2,
         34: 2,
         37: 2,
         24: 2,
         33: 2,
         25: 1,
         38: 1,
         29: 1})

In [19]:
data.items()

dict_items([(31, 2), (26, 5), (34, 2), (37, 2), (27, 4), (32, 3), (24, 2), (33, 2), (25, 1), (38, 1), (29, 1)])

In [32]:
ages = [31, 26, 34, 37, 27, 26, 32, 32, 26, 27, 27, 24, 32, 33, 27, 25, 26, 38, 37, 31, 34, 24, 33, 29, 26]
data = Statistics(ages)
print('Count:', data.count()) # 25
print('Sum: ', data.sum()) # 744
print('Min: ', data.min()) # 24
print('Max: ', data.max()) # 38
print('Range: ', data.range())# 14
print('Mean: ', data.mean()) # 30
print('Median: ', data.median()) # 29
print('Mode: ', data.mode()) # {'mode': 26, 'count': 5}
print('Standard Deviation: ', data.standard_deviation()) # 4.2
print('Variance: ', data.variance()) # 17.5
print('Frequency Distribution: ', data.frequency_distribution()) # [(20.0, 26), (16.0, 27), (12.0, 32), (8.0, 37), (8.0, 34), (8.0, 33), (8.0, 31), (8.0, 24), (4.0, 38), (4.0, 29), (4.0, 25)]

Count: 25
Sum:  744
Min:  24
Max:  38
Range:  14
Mean:  29.76
Median:  29
Mode:  26
Standard Deviation:  4.188364836066696
Variance:  17.5424
Frequency Distribution:  [(8.0, 24), (4.0, 25), (20.0, 26), (16.0, 27), (4.0, 29), (8.0, 31), (12.0, 32), (8.0, 33), (8.0, 34), (8.0, 37), (4.0, 38)]

In [23]:
7//2

3

In [27]:
ages = [31, 26, 34, 37, 27, 26, 32, 32, 26, 27, 27, 24, 32, 33, 27, 25, 26, 38, 37, 31, 34, 24, 33, 29, 26]
ages = Counter(ages)

In [28]:
ages

Counter({26: 5,
         27: 4,
         32: 3,
         31: 2,
         34: 2,
         37: 2,
         24: 2,
         33: 2,
         25: 1,
         38: 1,
         29: 1})

In [35]:
class Food:
    def __init__(self,*fruits,**vegtables):
        self.fruits = fruits
        self.vegtables = vegtables

    def print_products(self):
        for product in self.fruits:
            print(product)
        
        for key in self.vegtables:
            print(f"{key}: {self.vegtables[key]}")

In [36]:
food = Food("apple", "banana", "orange", vegetable="tomato", juice="orange")

In [37]:
food.print_products()

apple
banana
orange
vegetable: tomato
juice: orange