In [1]:
print("I like python.\nAren't you?")

I like python.
Aren't you?

In [2]:
print("AGE\tNAME\tJOB")

AGE	NAME	JOB

In [4]:
print('This is a backslash  symbol \\')

This is a backslash  symbol \

In [6]:
print('In every programming language it starts with "Hello, World!"')

In every programming language it starts with "Hello, World!"

In [7]:
print('\\')

\

In [10]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'
formated_string = 'I am %s %s. I teach %s' %(first_name, last_name, language)
print('I am %s %s. I teach %s' %(first_name, last_name))

TypeError: not enough arguments for format string

In [ ]:
python_libraries = ['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']
formated_string = 'The following are python libraries:%s' %(python_libraries)

In [14]:
print(formated_string)

The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib', 'Pandas']

In [15]:
first_name = 'Asabeneh'
last_name = 'Yetayeh'
language = 'Python'
formated_string = 'I am {} {}. I teach {}'.format(first_name, last_name, language)
print(formated_string)

I am Asabeneh Yetayeh. I teach Python

In [16]:
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # 限制保留两位小数
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

In [17]:
challenge = 'thirty\tdays\tof\tpython'
print(challenge)
print(challenge.expandtabs())   # 'thirty  days    of      python'
print(challenge.expandtabs(10)) # 'thirty    days      of        python'

thirty	days	of	python
thirty  days    of      python
thirty    days      of        python

In [18]:
challenge = '\u00B2'
print(challenge)

²

In [19]:
challenge = '1234560'
print(challenge.isdecimal())

True

In [20]:
challenge = '\u00B2'
print(challenge.isdecimal())
print(challenge.isdigit())

False
True

In [21]:
num = '10.5'
print(num.isnumeric())
print(num.isdecimal())
print(num.isdigit())

False
False
False

In [22]:
challenge = 'thirty days of pythoonnn'
print(challenge.strip('noth'))

irty days of py

In [23]:
challenge = 'thirty days of python'
challenge.split()

['thirty', 'days', 'of', 'python']

In [24]:
challenge = 'thirtydaysofpython'
challenge.split()

['thirtydaysofpython']

In [25]:
challenge = 'thirty,days,of,python, '
challenge.split()

['thirty,days,of,python,']

In [26]:
challenge.split(',')

['thirty', 'days', 'of', 'python', ' ']

In [27]:
challenge = '30 days of python'
print(challenge.startswith('30'))

True

In [30]:
words = ['Thirty','Days','Of','Python']
print(' '.join(words))

Thirty Days Of Python

In [31]:
company = "Coding For All"
print(company.upper())
print(company.lower())
print(company.capitalize())
print(company.title())
print(company.swapcase())

CODING FOR ALL
coding for all
Coding for all
Coding For All
cODING fOR aLL

In [32]:
print(company[0:6])
print(company.find("Coding"))
print(company.index("Coding"))
print(company.find('coding'))

Coding
0
0
-1

In [33]:
print(company.replace('Coding','Python'))
print(company)

Python For All
Coding For All

In [34]:
print('Facebook, Google, Microsoft, Apple, IBM, Oracle, Amazon'.split(','))

['Facebook', ' Google', ' Microsoft', ' Apple', ' IBM', ' Oracle', ' Amazon']

In [35]:
print(company.index('F'))

7

In [36]:
family = "Coding For All People"
print(family.find('l'))
print(family.rfind('l'))

12
19

In [37]:
sentence = 'You cannot end a sentence with because because because is a conjunction'
print(sentence.find('because'))
print(sentence.index('because'))

31
31

In [39]:
print(sentence.rindex('because'))
print(sentence.rfind("because"))

47
47

In [ ]:
print(sentence.strip('because because because',))

You cannot end a sentence with because because because is a conjunction

In [41]:
print(company.startswith('Coding'))

True

In [42]:
print(company.endswith('coding'))

False

In [45]:
print('   Coding For All      '.strip())

Coding For All

In [46]:
radius = 10
area = 3.14 * radius ** 2
print(f"The area of a circle with {radius} is {area} meters square.")

The area of a circle with 10 is 314.0 meters square.

In [3]:
print('\n'.join(f"{'*'*(2*i+1)}" for i in range(10)))

*
***
*****
*******
*********
***********
*************
***************
*****************
*******************